<p id="notice"><%= notice %></p>

<% @posts.each do | post | %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="pull-left">
          <a href="#">
            <% if post.user.image.url(:thumb) == '/images/thumb/missing.png' %>
                <%= image_tag 'profile.png', class: 'media-object img-circle', size: '50x50', alt: 'User Avatar', style: 'margin-right:8px;margin-top:0;' %>
            <% else %>
                <%= image_tag post.user.image.url(:medium), class: 'avatar img-circle', size: '75x75', alt: 'User Avatar', style: 'margin-right:8px;margin-top:0;' %>
            <% end %>
          </a>
        </div>
        <h4><a href="<%= users_path post.user %>" style="text-decoration:none;color: #394a59;"><strong><%= post.user.first_name %> <%= post.user.last_name %></strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i><%= time_ago_in_words(post.created_at) %> ago</i></a></small></small></h4>
        <span>
          <div class="navbar-right">
            <div class="dropdown">
              <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </button>
              <!--<ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">-->
              <!--<li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>-->
              <!--<li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>-->
              <!--<li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>-->
              <!--<li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>-->
              <!--<li role="separator" class="divider"></li>-->
              <!--<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>-->
              <!--</ul>-->
            </div>
          </div>
        </span>
        <hr>
        <div class="post-content">
          <p><%= post.content %></p>
        </div>
        <hr>
        <div>
          <div class="pull-right btn-group-xs">
            <span class="like-btn">
              <a class="glyphicon glyphicon-heart" aria-hidden="true" style="color: darkred"></a>
              <strong><%= post.likes %></strong>
            </span>
          </div>
          <br>
        </div>
        <hr>
      </div>
    </div>
<% end %>