<% @following.each do | followed | %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
      <div class="card hovercard">
        <div class="card-background">
            <% if followed.image.url(:medium) == '/images/medium/missing.png' %>
                <%= image_tag 'profile.png', class: 'avatar img-circle', size: '50x50', alt: 'User Avatar', style: 'margin-right:8px;margin-top:0;' %>
            <% else %>
                <%= image_tag followed.image.url(:medium), class: 'avatar img-circle', size: '75x75', alt: 'User Avatar', style: 'margin-right:8px;margin-top:0;' %>
            <% end %>
        </div>
        <div class="useravatar">
          <a href="<%= users_path followed%>">
            <% if followed.image.url(:medium) == '/images/medium/missing.png' %>
                <%= image_tag 'profile.png', class: 'avatar img-circle', size: '50x50', alt: 'User Avatar', style: 'margin-right:8px;margin-top:0;' %>
            <% else %>
                <%= image_tag followed.image.url(:medium), class: 'avatar img-circle', size: '75x75', alt: 'User Avatar', style: 'margin-right:8px;margin-top:0;' %>
            <% end %>
          </a>
        </div>
        <div class="card-info"> <span class="card-title"><%= followed.full_name%></span>

        </div>
      </div>
      <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab"><span aria-hidden="true"><%= followed.posts.count %></span>
            <div class="hidden-xs">Posts</div>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span aria-hidden="true"><%= followed.followers.count %></span>
            <div class="hidden-xs">Followers</div>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span aria-hidden="true"><%= followed.following.count %></span>
            <div class="hidden-xs">Following</div>
          </button>
        </div>
      </div>
    </div>
<% end %>