<p id="notice"><%= notice %></p>

<% if user_signed_in? && current_user != @User %>
  <% if current_user.following?(@User)%>
        <%= button_to "Unfollow", friendship_path(user_id: @User), method: :delete, class: "btn btn-default" %>
  <% else %>
        <%= button_to "Follow", friendships_path(user_id: @User), class: "btn btn-default" %>
  <% end %>
<% end %>


<% @posts.each do | post | %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="pull-left">
          <a href="#">
            <% if @User.image.url(:thumb) == '/images/thumb/missing.png' %>
                <%= image_tag 'profile.png', class: 'media-object img-circle', size: '50x50', alt: 'User Avatar', style: 'margin-right:8px;margin-top:0;' %>
            <% else %>
                <%= image_tag @User.image.url(:medium), class: 'avatar img-circle', size: '75x75', alt: 'User Avatar', style: 'margin-right:8px;margin-top:0;' %>
            <% end %>
          </a>
        </div>
        <h4><a href="#" style="text-decoration:none;"><strong><%= @User.first_name %> <%= @User.last_name %></strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>
        <span>
          <div class="navbar-right">
            <div class="dropdown">
              <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </button>
              <!--<ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">-->
              <!--<li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>-->
              <!--<li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>-->
              <!--<li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>-->
              <!--<li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>-->
              <!--<li role="separator" class="divider"></li>-->
              <!--<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>-->
              <!--</ul>-->
            </div>
          </div>
        </span>
        <hr>
        <div class="post-content">
          <p><%= post.content %></p>
        </div>
        <hr>
        <div>
          <div class="pull-right btn-group-xs">
            <a class="like-btn"><i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: darkred"></i></a>
            <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
            <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
          </div>
          <br>
        </div>
        <hr>
        <div class="media">
          <div class="pull-left">
            <a href="#">
              <% if current_user.image.url(:medium) == '/images/medium/missing.png' %>
                  <a href="<%= users_path current_user %>"><%= image_tag 'profile.png', class: 'media-object img-circle', size: '35x35', alt: 'User Avatar', style: 'margin-right:8px;margin-top:0;'  %></a>
              <% else %>
                  <a href="<%= users_path current_user %>"><%= image_tag current_user.image.url(:medium), class: 'media-object img-circle', size: '50x50', alt: 'User Avatar', style: 'margin-right:8px;margin-top:0;'  %></a>
              <% end %>
            </a>
          </div>
          <div class="media-body">
            <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
          </div>
        </div>
      </div>
    </div>
<% end %>